@mixin mytheme {
  .v-loading-indicator {
    background: $orange;
  }
  .porter-app {
    background: $blue-color;
  }

  .v-button {
    //@include buttonColor($orange, $white , 2rem);
    //@include buttonfocusAnimation ($orange);
  }

  .v-Notification, .gwt-PopupPanel {
    background: $orange;
    padding: 6px 15px;
    font-size: 0.8rem;
    width: 100%;
    top: 0;
    right: 0;
    h1 {
      font-size: 14px;
    }
  }

  //tab_wrpapper
  .tab_wrpapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background: lighten($blue-color, 2%);
    text-align: center;
    > .v-horizontallayout {
      width: 60%;
    }
  }

/*  .contentBox {
    > .v-slot {
      > .v-verticallayout {
        padding: 10px !important;
      }
    }
  }*/

  .logo {
    margin: 5px 0;
  }
  .v-grid-tablewrapper {
    border-color: darken($white, 6%);;
    .v-grid-header {
      .v-grid-cell {
        background: $dark_gray;
        border-color: lighten($dark_gray, 6%);
        .v-grid-column-header-content {
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
  .v-filterselect {
    @include border-radiusk(0);
    border: none;
  }

  .primary{
    @include buttonColor($orange, $white, 0);
    height: 40px;
  }

  .wizard .v-caption{
    color: black !important;
  }

  .popupView .v-caption{
    color: black !important;
  }
}


