.valothemeui #themeSelect {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	padding: 0 10px;
	background-color: #ededed;
	background-color: rgba(237, 237, 237, 0.9);
	color: #464646;
	border-radius: 0 0 0 4px;
}

.myCustomUpload .v-button {
	background: none;
	border: 1px solid black;
	height: auto;
	padding: 0 !important;
}

.myCustomUpload .v-button .v-button-wrap {
	height: auto;
	background: none;
	padding: 0 !important;
}

.myCustomUpload .v-button .v-button-wrap .v-button-caption {
	height: auto;
	padding: 2px;
}

.buttonClicked
{
	font-weight: bold;
	color:red;
	background: red;
}

.layout-with-border {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	border-radius: 5px;
}

.add-button-margin {
	 margin-top: 24px;
 }

.left-right-margin {
	margin-left: 15px;
	margin-right: 15px;
}

.valothemeui #themeSelect:before {
	content: "Theme:";
}

.valothemeui #themeSelect select {
	background: transparent;
	color: inherit;
	border: none;
	display: inline-block;
}

.valothemeui .v-ui[width-range~="0-800px"] #themeSelect {
	top: 37px;
}

.valothemeui .v-splitpanel-vertical, 
.valothemeui .v-splitpanel-horizontal {
	outline: 1px dotted rgba(128, 128, 128, 0.2);
}

.valothemeui .valo-content > .v-layout {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}